DATABASE_URL="file:./dev.db"
SESSION_SECRET=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_USER_EMAIL=
SEED_USER_PASSWORD=
NEXT_PUBLIC_SITE_URL="vercel_blob_rw_yTuNrHeCtJJVtp1O_D6Zptta2j4DAKEd2bRf9GIMmStLzjt"